*.log
working/
par/ipcore_dir/tmp/_xmsgs/
par/ipcore_dir/_xmsgs/
par/ipcore_dir/glitc_ila.constraints/
par/ipcore_dir/glitc_icon.constraints/
par/ipcore_dir/glitc_vio.constraints/
par/iseconfig/
par/ipcore_dir/gb_ila.cdc
par/ipcore_dir/gen_glitc_icon.tcl
par/ipcore_dir/gen_glitc_ila.tcl
par/ipcore_dir/gen_glitc_vio.tcl
par/ipcore_dir/glitc_icon.asy
par/ipcore_dir/glitc_icon.ncf
par/ipcore_dir/glitc_icon.ngc
par/ipcore_dir/glitc_icon.sym
par/ipcore_dir/glitc_icon.ucf
par/ipcore_dir/glitc_icon.v
par/ipcore_dir/glitc_icon.veo
par/ipcore_dir/glitc_icon.xdc
par/ipcore_dir/glitc_icon_flist.txt
par/ipcore_dir/glitc_icon_readme.txt
par/ipcore_dir/glitc_icon_xmdf.tcl
par/ipcore_dir/glitc_ila.asy
par/ipcore_dir/glitc_ila.cdc
par/ipcore_dir/glitc_ila.ncf
par/ipcore_dir/glitc_ila.ngc
par/ipcore_dir/glitc_ila.sym
par/ipcore_dir/glitc_ila.ucf
par/ipcore_dir/glitc_ila.v
par/ipcore_dir/glitc_ila.veo
par/ipcore_dir/glitc_ila.xdc
par/ipcore_dir/glitc_ila_flist.txt
par/ipcore_dir/glitc_ila_readme.txt
par/ipcore_dir/glitc_ila_xmdf.tcl
par/ipcore_dir/glitc_vio.asy
par/ipcore_dir/glitc_vio.cdc
par/ipcore_dir/glitc_vio.ncf
par/ipcore_dir/glitc_vio.ngc
par/ipcore_dir/glitc_vio.sym
par/ipcore_dir/glitc_vio.ucf
par/ipcore_dir/glitc_vio.v
par/ipcore_dir/glitc_vio.veo
par/ipcore_dir/glitc_vio.xdc
par/ipcore_dir/glitc_vio_flist.txt
par/ipcore_dir/glitc_vio_readme.txt
par/ipcore_dir/glitc_vio_xmdf.tcl
par/ipcore_dir/TISC_TISC_Iserdes.gise
par/ipcore_dir/TISC_TISC_Iserdes.xise
par/ipcore_dir/TISC_TISC_Oserdes.gise
par/ipcore_dir/TISC_TISC_Oserdes.xise
par/ipcore_dir/glitc_icon.constraints/glitc_icon.ucf
par/ipcore_dir/glitc_icon.gise
par/ipcore_dir/glitc_icon.xise
par/ipcore_dir/glitc_ila.gise
par/ipcore_dir/glitc_ila.xise
par/ipcore_dir/glitc_vio.gise
par/ipcore_dir/glitc_vio.xise
