#"PHI" inputs and outputs - all LVDS - from/to neighboring phi sectors - 4 bits
#NET "PHI_DOWN_OUT_CLK_P" LOC = "B16" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_CLK_N" LOC = "B15" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_P<0>" LOC = "C15" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_N<0>" LOC = "C14" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_P<1>" LOC = "B13" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_N<1>" LOC = "C13" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_P<2>" LOC = "A16" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_N<2>" LOC = "A15" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_P<3>" LOC = "A14" | IOSTANDARD = LVDS_25   ;
#NET "PHI_DOWN_OUT_N<3>" LOC = "A13" | IOSTANDARD = LVDS_25   ;

NET "PHI_DOWN_OUT_CLK_N" LOC = "B16" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_CLK_P" LOC = "B15" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_N<0>" LOC = "C15" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_P<0>" LOC = "C14" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_N<1>" LOC = "B13" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_P<1>" LOC = "C13" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_N<2>" LOC = "A16" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_P<2>" LOC = "A15" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_N<3>" LOC = "A14" | IOSTANDARD = LVDS_25   ;
NET "PHI_DOWN_OUT_P<3>" LOC = "A13" | IOSTANDARD = LVDS_25   ;


NET "PHI_DOWN_IN_CLK_P" LOC = "D17" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_CLK_N" LOC = "C17" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_P<0>" LOC = "E16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_N<0>" LOC = "D16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_P<1>" LOC = "F13" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_N<1>" LOC = "F14" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_P<2>" LOC = "D14" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_N<2>" LOC = "D15" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_P<3>" LOC = "E13" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_DOWN_IN_N<3>" LOC = "E14" | IOSTANDARD = LVDS_25   | diff_term=true  ;


NET "PHI_UP_OUT_CLK_P" LOC = "W2" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_CLK_N" LOC = "Y2" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_P<0>" LOC = "W1" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_N<0>" LOC = "Y1" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_P<1>" LOC = "U3" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_N<1>" LOC = "V3" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_P<2>" LOC = "U2" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_N<2>" LOC = "V2" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_P<3>" LOC = "R4" | IOSTANDARD = LVDS_25   ;
NET "PHI_UP_OUT_N<3>" LOC = "T4" | IOSTANDARD = LVDS_25   ;

NET "PHI_UP_IN_CLK_P" LOC = "H3" | IOSTANDARD = LVDS_25  | diff_term=true   ;
NET "PHI_UP_IN_CLK_N" LOC = "G3" | IOSTANDARD = LVDS_25  | diff_term=true   ;
NET "PHI_UP_IN_P<0>" LOC = "G1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_UP_IN_N<0>" LOC = "F1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_UP_IN_P<1>" LOC = "E1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_UP_IN_N<1>" LOC = "D1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_UP_IN_P<2>" LOC = "H2" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_UP_IN_N<2>" LOC = "G2" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_UP_IN_P<3>" LOC = "F3" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "PHI_UP_IN_N<3>" LOC = "E3" | IOSTANDARD = LVDS_25   | diff_term=true  ;

NET "GA_MON<0>" LOC = "AA1" | IOSTANDARD = LVCMOS25 ; 
NET "GA_MON<1>" LOC = "T1" | IOSTANDARD = LVCMOS25 ; 
NET "GA_MON<2>" LOC = "U1" | IOSTANDARD = LVCMOS25 ; 
NET "GA_MON<3>" LOC = "R2" | IOSTANDARD = LVCMOS25 ; 
NET "GA_MON<4>" LOC = "T3" | IOSTANDARD = LVCMOS25 ; 

NET "GA_SYSCLK_P" LOC = "B17" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "GA_SYSCLK_N" LOC = "B18" | IOSTANDARD = LVDS_25   | diff_term=true  ;


#Address (?) inputs from Spartan
NET "GAD<0>" LOC = "P22" | IOSTANDARD = LVCMOS25 ; 
NET "GAD<1>" LOC = "R22" | IOSTANDARD = LVCMOS25 ; 
NET "GAD<2>" LOC = "P21" | IOSTANDARD = LVCMOS25  ; 
NET "GAD<3>" LOC = "R21" | IOSTANDARD = LVCMOS25 ; 
NET "GAD<4>" LOC = "T21" | IOSTANDARD = LVCMOS25 ; 
NET "GAD<5>" LOC = "U21" | IOSTANDARD = LVCMOS25 ; 
NET "GAD<6>" LOC = "P19" | IOSTANDARD = LVCMOS25 ; 
NET "GAD<7>" LOC = "R19" | IOSTANDARD = LVCMOS25 ; 

#To (?) TURF
NET "TA_OUT_P<0>" LOC = "B1" | IOSTANDARD = LVDS_25   ;
NET "TA_OUT_N<0>" LOC = "A1" | IOSTANDARD = LVDS_25   ;
NET "TA_OUT_P<1>" LOC = "C2" | IOSTANDARD = LVDS_25   ;
NET "TA_OUT_N<1>" LOC = "B2" | IOSTANDARD = LVDS_25   ;
NET "TA_IN_P" LOC = "E2" | IOSTANDARD = LVDS_25   ;
NET "TA_IN_N" LOC = "D2" | IOSTANDARD = LVDS_25   ;

#All data and source synch clocks from RITCs (A, B, C, D, E, F)

NET "A_CLK_P" LOC = "U20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_CLK_N" LOC = "V20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<0>" LOC = "R18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<0>" LOC = "T18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<1>" LOC = "AA18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<1>" LOC = "AB18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<2>" LOC = "T19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<2>" LOC = "T20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<3>" LOC = "Y18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<3>" LOC = "Y19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<4>" LOC = "P16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<4>" LOC = "R17" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<5>" LOC = "U17" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<5>" LOC = "U18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<6>" LOC = "V18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<6>" LOC = "V19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<7>" LOC = "AB21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<7>" LOC = "AB22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<8>" LOC = "U22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<8>" LOC = "V22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<9>" LOC = "AA20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<9>" LOC = "AA21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<10>" LOC = "W21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<10>" LOC = "W22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_P<11>" LOC = "Y21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "A_N<11>" LOC = "Y22" | IOSTANDARD = LVDS_25   | diff_term=true  ;

NET "B_CLK_P" LOC = "J19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_CLK_N" LOC = "H19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<0>" LOC = "N18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<0>" LOC = "N19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<1>" LOC = "M15" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<1>" LOC = "M16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<2>" LOC = "N20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<2>" LOC = "M20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<3>" LOC = "N22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<3>" LOC = "M22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<4>" LOC = "L16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<4>" LOC = "K16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<5>" LOC = "M21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<5>" LOC = "L21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<6>" LOC = "M18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<6>" LOC = "L18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<7>" LOC = "K21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<7>" LOC = "K22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<8>" LOC = "K18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<8>" LOC = "K19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<9>" LOC = "J20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<9>" LOC = "J21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<10>" LOC = "J22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<10>" LOC = "H22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
#NET "B_P<11>" LOC = "G20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
#NET "B_N<11>" LOC = "H20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_P<11>" LOC = "H20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "B_N<11>" LOC = "G20" | IOSTANDARD = LVDS_25   | diff_term=true  ;

NET "C_CLK_P" LOC = "E19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_CLK_N" LOC = "D19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<0>" LOC = "F18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<0>" LOC = "E18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<1>" LOC = "A18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<1>" LOC = "A19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<2>" LOC = "G21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<2>" LOC = "G22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<3>" LOC = "F16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<3>" LOC = "E17" | IOSTANDARD = LVDS_25   | diff_term=true  ;
#NET "C_P<4>" LOC = "F20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
#NET "C_N<4>" LOC = "F19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<4>" LOC = "F19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<4>" LOC = "F20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<5>" LOC = "C22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<5>" LOC = "B22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<6>" LOC = "E21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<6>" LOC = "D21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<7>" LOC = "B21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<7>" LOC = "A21" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<8>" LOC = "E22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<8>" LOC = "D22" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<9>" LOC = "B20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<9>" LOC = "A20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<10>" LOC = "D20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<10>" LOC = "C20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P<11>" LOC = "C18" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_N<11>" LOC = "C19" | IOSTANDARD = LVDS_25   | diff_term=true  ;

NET "D_CLK_P" LOC = "L3" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_CLK_N" LOC = "K3" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<0>" LOC = "K2" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<0>" LOC = "J2" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<1>" LOC = "P6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<1>" LOC = "N5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<2>" LOC = "K1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<2>" LOC = "J1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<3>" LOC = "N4" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<3>" LOC = "N3" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<4>" LOC = "L5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<4>" LOC = "L4" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<5>" LOC = "K6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<5>" LOC = "J6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<6>" LOC = "M1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<6>" LOC = "L1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<7>" LOC = "M6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<7>" LOC = "M5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<8>" LOC = "M3" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<8>" LOC = "M2" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<9>" LOC = "P5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<9>" LOC = "P4" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<10>" LOC = "P2" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<10>" LOC = "N2" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_P<11>" LOC = "R1" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "D_N<11>" LOC = "P1" | IOSTANDARD = LVDS_25   | diff_term=true  ;

NET "E_CLK_P" LOC = "T5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_CLK_N" LOC = "U5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<0>" LOC = "Y4" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<0>" LOC = "AA4" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<1>" LOC = "AA5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<1>" LOC = "AB5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<2>" LOC = "V4" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<2>" LOC = "W4" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<3>" LOC = "U6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<3>" LOC = "V5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<4>" LOC = "W6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<4>" LOC = "W5" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<5>" LOC = "Y6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<5>" LOC = "AA6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<6>" LOC = "AB7" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<6>" LOC = "AB6" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<7>" LOC = "Y8" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<7>" LOC = "Y7" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<8>" LOC = "V7" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<8>" LOC = "W7" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<9>" LOC = "AA8" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<9>" LOC = "AB8" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<10>" LOC = "W9" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<10>" LOC = "Y9" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_P<11>" LOC = "V9" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "E_N<11>" LOC = "V8" | IOSTANDARD = LVDS_25   | diff_term=true  ;

NET "F_CLK_P" LOC = "U15" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_CLK_N" LOC = "V15" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<0>" LOC = "V13" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<0>" LOC = "V14" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<1>" LOC = "AB16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<1>" LOC = "AB17" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<2>" LOC = "AA13" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<2>" LOC = "AB13" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<3>" LOC = "Y16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<3>" LOC = "AA16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<4>" LOC = "W11" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<4>" LOC = "W12" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<5>" LOC = "W15" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<5>" LOC = "W16" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<6>" LOC = "AB11" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<6>" LOC = "AB12" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<7>" LOC = "AA15" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<7>" LOC = "AB15" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<8>" LOC = "AA10" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<8>" LOC = "AA11" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<9>" LOC = "W14" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<9>" LOC = "Y14" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<10>" LOC = "Y11" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<10>" LOC = "Y12" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_P<11>" LOC = "Y13" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "F_N<11>" LOC = "AA14" | IOSTANDARD = LVDS_25   | diff_term=true  ;


NET "GCLK" LOC = "L19"  | IOSTANDARD = LVCMOS25 ; 
#U2.L12[S-10] GCLK # this is a configuration input




NET "R0_VCDL" LOC = "Y17" | IOSTANDARD = LVCMOS25 ;  #input from RITC 
NET "R0_TRAIN" LOC = "W17" | IOSTANDARD = LVCMOS25 ;   #Training/Data select
NET "R0_DAC_DIN" LOC = "U16" | IOSTANDARD = LVCMOS25 ;   #Set internal DACs signals
NET "R0_DAC_LATCH" LOC = "T15" | IOSTANDARD = LVCMOS25 ;   
NET "R0_DAC_CLK" LOC = "T16" | IOSTANDARD = LVCMOS25 ; 

NET "R1_VCDL" LOC = "AB3" | IOSTANDARD = LVCMOS25 ; #input from RITC 
NET "R1_TRAIN" LOC = "AA3" | IOSTANDARD = LVCMOS25 ;  #Training/Data select
NET "R1_DAC_DIN" LOC = "Y3" | IOSTANDARD = LVCMOS25  ;  #Set internal DACs signals
NET "R1_DAC_LATCH" LOC = "AB1" | IOSTANDARD = LVCMOS25  ;  
NET "R1_DAC_CLK" LOC = "AB2" | IOSTANDARD = LVCMOS25  ;  


NET "GRDWR_B" LOC = "AA19" | IOSTANDARD = LVCMOS25  ;  
NET "GSEL_B" LOC = "V17" | IOSTANDARD = LVCMOS25  ;  # should we have one per GLITC implementation? Check back

# No on-board pullups, so we use the FPGA pullups here.
# They're small-ish (~10k) so the I2C should really be
# in Standard mode (100 kHz).
NET "GA_SDA" LOC = "W19" | IOSTANDARD = LVCMOS25  ;  
NET "GA_SCL" LOC = "W20" | IOSTANDARD = LVCMOS25 ;  


#LOC constraints

//(* LOC = "IDELAY_X0Y99" *) for RITC0 - _A

//(* LOC = "IDELAY_X1Y134" *) for RITC1 - _B



#time constraints 

NET "GA_SYSCLK_P" TNM_NET = TN_SYSCLK;
TIMESPEC TS_SYSCLK_P = PERIOD "TN_SYSCLK" 162.5 MHz HIGH 50%;

NET "SYSCLK" TNM_NET = TN_SYSCLK_INT;
NET "CLK200" TNM_NET = TN_CLK200;

NET "DATACLK_DIV2" TNM_NET = TN_DATACLK_DIV2;

#INST "u_datapath_A/*iodelay_fb" TNM = COMB_DEST_A;
#INST "u_datapath_A/*u_iserdes" TNM = COMB_SOURCE_A;
#TIMESPEC TS_COMB_PATH_A = FROM "COMB_SOURCE_A" TO "COMB_DEST_A" 500 ps;
#
#INST "u_datapath_B/*iodelay_fb" TNM = COMB_DEST_B;
#INST "u_datapath_B/*u_iserdes" TNM = COMB_SOURCE_B;
#TIMESPEC TS_COMB_PATH_B = FROM "COMB_SOURCE_B" TO "COMB_DEST_B" 500 ps;

NET "GCLK" TNM_NET = TN_GCLK;
TIMESPEC TS_GCLK = PERIOD "TN_GCLK" 33.0 MHz HIGH 50%;

# Kill the cross-clock paths.
TIMESPEC TS_FROM_GCLK_TO_SYSCLK = FROM TN_GCLK TO TN_SYSCLK_INT 15 ns DATAPATHONLY;
TIMESPEC TS_FROM_SYSCLK_TO_GCLK = FROM TN_SYSCLK_INT TO TN_GCLK 15 ns DATAPATHONLY;
TIMESPEC TS_FROM_SYSCLK_TO_CLK200 = FROM TN_SYSCLK_INT TO TN_CLK200 15 ns DATAPATHONLY;
TIMESPEC TS_FROM_CLK200_TO_SYSCLK = FROM TN_CLK200 TO TN_SYSCLK_INT 15 ns DATAPATHONLY;
TIMESPEC TS_FROM_SYSCLK_TO_DATACLK_DIV2 = FROM TN_SYSCLK_INT TO TN_DATACLK_DIV2 15 ns DATAPATHONLY;

#LM: to be commented out when correct MMCM location found.
#NET "GA_SYSCLK_P" CLOCK_DEDICATED_ROUTE = BACKBONE;
#PIN "u_clock_generator/u_mmcm.CLKIN1" CLOCK_DEDICATED_ROUTE = BACKBONE;

INST "u_phase_scanner_A_B/u_registers*/*dat_reg" TNM = TN_SCANNER_SOURCE;
INST "u_phase_scanner_A_B/u_registers*/*dat_reg_CLK_0" TNM = TN_SCANNER_DEST;
TIMESPEC TS_SCANNER_FALSE_PATH = FROM TN_SCANNER_SOURCE TO TN_SCANNER_DEST TIG;

INST "u_idelay_*/u_idelay_if/delay_register*" TNM = TN_DELAY_REGISTER_SOURCE;
INST "u_idelay_*/*CH*_bit_delay" TNM = TN_DELAY_REGISTER_DEST;
TIMESPEC TS_DELAY_REGISTER_PATH = FROM TN_DELAY_REGISTER_SOURCE TO TN_DELAY_REGISTER_DEST 7 ns DATAPATHONLY;


