NET "GCLK" LOC = L19;
NET "GCLK" IOSTANDARD = LVCMOS25;
NET "GCLK" TNM_NET = "TN_GCLK";
TIMESPEC TS_GCLK = PERIOD "TN_GCLK" 60 ns HIGH 50 %;

NET "GRDWR_B" TNM = "GB_GROUP";
NET "GRDWR_B" LOC = AA19;
NET "GRDWR_B" IOSTANDARD = LVCMOS25;
NET "GSEL_B" TNM = "GB_GROUP";
NET "GSEL_B" LOC = V17;
NET "GSEL_B" IOSTANDARD = LVCMOS25;
NET "GAD[0]" TNM = "GB_GROUP";
NET "GAD[0]" LOC = P22;
NET "GAD[0]" IOSTANDARD = LVCMOS25;
NET "GAD[1]" TNM = "GB_GROUP";
NET "GAD[1]" LOC = R22;
NET "GAD[1]" IOSTANDARD = LVCMOS25;
NET "GAD[2]" TNM = "GB_GROUP";
NET "GAD[2]" LOC = P21;
NET "GAD[2]" IOSTANDARD = LVCMOS25;
NET "GAD[3]" TNM = "GB_GROUP";
NET "GAD[3]" LOC = R21;
NET "GAD[3]" IOSTANDARD = LVCMOS25;
NET "GAD[4]" TNM = "GB_GROUP";
NET "GAD[4]" LOC = T21;
NET "GAD[4]" IOSTANDARD = LVCMOS25;
NET "GAD[5]" TNM = "GB_GROUP";
NET "GAD[5]" LOC = U21;
NET "GAD[5]" IOSTANDARD = LVCMOS25;
NET "GAD[6]" TNM = "GB_GROUP";
NET "GAD[6]" LOC = P19;
NET "GAD[6]" IOSTANDARD = LVCMOS25;
NET "GAD[7]" TNM = "GB_GROUP";
NET "GAD[7]" LOC = R19;
NET "GAD[7]" IOSTANDARD = LVCMOS25;

TIMEGRP "GB_GROUP" OFFSET = OUT  AFTER "GCLK" RISING;
TIMEGRP "GB_GROUP" OFFSET = IN 46.5 ns BEFORE "GCLK" RISING VALID 52 ns;
TIMEGRP "GB_GROUP" OFFSET = IN 46.5 ns BEFORE "GCLK" RISING;

NET "A_CLK_P" LOC = U20;
NET "A_CLK_P" IOSTANDARD = LVDS_25;
NET "A_CLK_P" DIFF_TERM = "TRUE";
NET "A_CLK_N" LOC = V20;
NET "A_CLK_N" IOSTANDARD = LVDS_25;
NET "A_CLK_N" DIFF_TERM = "TRUE";
NET "A_P[0]" LOC = R18;
NET "A_P[0]" IOSTANDARD = LVDS_25;
NET "A_P[0]" DIFF_TERM = "TRUE";
NET "A_N[0]" LOC = T18;
NET "A_N[0]" IOSTANDARD = LVDS_25;
NET "A_N[0]" DIFF_TERM = "TRUE";
NET "A_P[1]" LOC = AA18;
NET "A_P[1]" IOSTANDARD = LVDS_25;
NET "A_P[1]" DIFF_TERM = "TRUE";
NET "A_N[1]" LOC = AB18;
NET "A_N[1]" IOSTANDARD = LVDS_25;
NET "A_N[1]" DIFF_TERM = "TRUE";
NET "A_P[2]" LOC = T19;
NET "A_P[2]" IOSTANDARD = LVDS_25;
NET "A_P[2]" DIFF_TERM = "TRUE";
NET "A_N[2]" LOC = T20;
NET "A_N[2]" IOSTANDARD = LVDS_25;
NET "A_N[2]" DIFF_TERM = "TRUE";
NET "A_P[3]" LOC = Y18;
NET "A_P[3]" IOSTANDARD = LVDS_25;
NET "A_P[3]" DIFF_TERM = "TRUE";
NET "A_N[3]" LOC = Y19;
NET "A_N[3]" IOSTANDARD = LVDS_25;
NET "A_N[3]" DIFF_TERM = "TRUE";
NET "A_P[4]" LOC = P16;
NET "A_P[4]" IOSTANDARD = LVDS_25;
NET "A_P[4]" DIFF_TERM = "TRUE";
NET "A_N[4]" LOC = R17;
NET "A_N[4]" IOSTANDARD = LVDS_25;
NET "A_N[4]" DIFF_TERM = "TRUE";
NET "A_P[5]" LOC = U17;
NET "A_P[5]" IOSTANDARD = LVDS_25;
NET "A_P[5]" DIFF_TERM = "TRUE";
NET "A_N[5]" LOC = U18;
NET "A_N[5]" IOSTANDARD = LVDS_25;
NET "A_N[5]" DIFF_TERM = "TRUE";
NET "A_P[6]" LOC = V18;
NET "A_P[6]" IOSTANDARD = LVDS_25;
NET "A_P[6]" DIFF_TERM = "TRUE";
NET "A_N[6]" LOC = V19;
NET "A_N[6]" IOSTANDARD = LVDS_25;
NET "A_N[6]" DIFF_TERM = "TRUE";
NET "A_P[7]" LOC = AB21;
NET "A_P[7]" IOSTANDARD = LVDS_25;
NET "A_P[7]" DIFF_TERM = "TRUE";
NET "A_N[7]" LOC = AB22;
NET "A_N[7]" IOSTANDARD = LVDS_25;
NET "A_N[7]" DIFF_TERM = "TRUE";
NET "A_P[8]" LOC = U22;
NET "A_P[8]" IOSTANDARD = LVDS_25;
NET "A_P[8]" DIFF_TERM = "TRUE";
NET "A_N[8]" LOC = V22;
NET "A_N[8]" IOSTANDARD = LVDS_25;
NET "A_N[8]" DIFF_TERM = "TRUE";
NET "A_P[9]" LOC = AA20;
NET "A_P[9]" IOSTANDARD = LVDS_25;
NET "A_P[9]" DIFF_TERM = "TRUE";
NET "A_N[9]" LOC = AA21;
NET "A_N[9]" IOSTANDARD = LVDS_25;
NET "A_N[9]" DIFF_TERM = "TRUE";
NET "A_P[10]" LOC = W21;
NET "A_P[10]" IOSTANDARD = LVDS_25;
NET "A_P[10]" DIFF_TERM = "TRUE";
NET "A_N[10]" LOC = W22;
NET "A_N[10]" IOSTANDARD = LVDS_25;
NET "A_N[10]" DIFF_TERM = "TRUE";
NET "A_P[11]" LOC = Y21;
NET "A_P[11]" IOSTANDARD = LVDS_25;
NET "A_P[11]" DIFF_TERM = "TRUE";
NET "A_N[11]" LOC = Y22;
NET "A_N[11]" IOSTANDARD = LVDS_25;
NET "A_N[11]" DIFF_TERM = "TRUE";

NET "B_CLK_P" LOC = J19;
NET "B_CLK_P" IOSTANDARD = LVDS_25;
NET "B_CLK_P" DIFF_TERM = "TRUE";
NET "B_CLK_N" LOC = H19;
NET "B_CLK_N" IOSTANDARD = LVDS_25;
NET "B_CLK_N" DIFF_TERM = "TRUE";
NET "B_P[0]" LOC = N18;
NET "B_P[0]" IOSTANDARD = LVDS_25;
NET "B_P[0]" DIFF_TERM = "TRUE";
NET "B_N[0]" LOC = N19;
NET "B_N[0]" IOSTANDARD = LVDS_25;
NET "B_N[0]" DIFF_TERM = "TRUE";
NET "B_P[1]" LOC = M15;
NET "B_P[1]" IOSTANDARD = LVDS_25;
NET "B_P[1]" DIFF_TERM = "TRUE";
NET "B_N[1]" LOC = M16;
NET "B_N[1]" IOSTANDARD = LVDS_25;
NET "B_N[1]" DIFF_TERM = "TRUE";
NET "B_P[2]" LOC = N20;
NET "B_P[2]" IOSTANDARD = LVDS_25;
NET "B_P[2]" DIFF_TERM = "TRUE";
NET "B_N[2]" LOC = M20;
NET "B_N[2]" IOSTANDARD = LVDS_25;
NET "B_N[2]" DIFF_TERM = "TRUE";
NET "B_P[3]" LOC = N22;
NET "B_P[3]" IOSTANDARD = LVDS_25;
NET "B_P[3]" DIFF_TERM = "TRUE";
NET "B_N[3]" LOC = M22;
NET "B_N[3]" IOSTANDARD = LVDS_25;
NET "B_N[3]" DIFF_TERM = "TRUE";
NET "B_P[4]" LOC = L16;
NET "B_P[4]" IOSTANDARD = LVDS_25;
NET "B_P[4]" DIFF_TERM = "TRUE";
NET "B_N[4]" LOC = K16;
NET "B_N[4]" IOSTANDARD = LVDS_25;
NET "B_N[4]" DIFF_TERM = "TRUE";
NET "B_P[5]" LOC = M21;
NET "B_P[5]" IOSTANDARD = LVDS_25;
NET "B_P[5]" DIFF_TERM = "TRUE";
NET "B_N[5]" LOC = L21;
NET "B_N[5]" IOSTANDARD = LVDS_25;
NET "B_N[5]" DIFF_TERM = "TRUE";
NET "B_P[6]" LOC = M18;
NET "B_P[6]" IOSTANDARD = LVDS_25;
NET "B_P[6]" DIFF_TERM = "TRUE";
NET "B_N[6]" LOC = L18;
NET "B_N[6]" IOSTANDARD = LVDS_25;
NET "B_N[6]" DIFF_TERM = "TRUE";
NET "B_P[7]" LOC = K21;
NET "B_P[7]" IOSTANDARD = LVDS_25;
NET "B_P[7]" DIFF_TERM = "TRUE";
NET "B_N[7]" LOC = K22;
NET "B_N[7]" IOSTANDARD = LVDS_25;
NET "B_N[7]" DIFF_TERM = "TRUE";
NET "B_P[8]" LOC = K18;
NET "B_P[8]" IOSTANDARD = LVDS_25;
NET "B_P[8]" DIFF_TERM = "TRUE";
NET "B_N[8]" LOC = K19;
NET "B_N[8]" IOSTANDARD = LVDS_25;
NET "B_N[8]" DIFF_TERM = "TRUE";
NET "B_P[9]" LOC = J20;
NET "B_P[9]" IOSTANDARD = LVDS_25;
NET "B_P[9]" DIFF_TERM = "TRUE";
NET "B_N[9]" LOC = J21;
NET "B_N[9]" IOSTANDARD = LVDS_25;
NET "B_N[9]" DIFF_TERM = "TRUE";
NET "B_P[10]" LOC = J22;
NET "B_P[10]" IOSTANDARD = LVDS_25;
NET "B_P[10]" DIFF_TERM = "TRUE";
NET "B_N[10]" LOC = H22;
NET "B_N[10]" IOSTANDARD = LVDS_25;
NET "B_N[10]" DIFF_TERM = "TRUE";
NET "B_P[11]" LOC = H20;
NET "B_P[11]" IOSTANDARD = LVDS_25;
NET "B_P[11]" DIFF_TERM = "TRUE";
NET "B_N[11]" LOC = G20;
NET "B_N[11]" IOSTANDARD = LVDS_25;
NET "B_N[11]" DIFF_TERM = "TRUE";

NET "C_CLK_P" LOC = E19;
NET "C_CLK_P" IOSTANDARD = LVDS_25;
NET "C_CLK_P" DIFF_TERM = "TRUE";
NET "C_CLK_N" LOC = D19;
NET "C_CLK_N" IOSTANDARD = LVDS_25;
NET "C_CLK_N" DIFF_TERM = "TRUE";
NET "C_P[0]" LOC = F18;
NET "C_P[0]" IOSTANDARD = LVDS_25;
NET "C_P[0]" DIFF_TERM = "TRUE";
NET "C_N[0]" LOC = E18;
NET "C_N[0]" IOSTANDARD = LVDS_25;
NET "C_N[0]" DIFF_TERM = "TRUE";
NET "C_P[1]" LOC = A18;
NET "C_P[1]" IOSTANDARD = LVDS_25;
NET "C_P[1]" DIFF_TERM = "TRUE";
NET "C_N[1]" LOC = A19;
NET "C_N[1]" IOSTANDARD = LVDS_25;
NET "C_N[1]" DIFF_TERM = "TRUE";
NET "C_P[2]" LOC = G21;
NET "C_P[2]" IOSTANDARD = LVDS_25;
NET "C_P[2]" DIFF_TERM = "TRUE";
NET "C_N[2]" LOC = G22;
NET "C_N[2]" IOSTANDARD = LVDS_25;
NET "C_N[2]" DIFF_TERM = "TRUE";
NET "C_P[3]" LOC = F16;
NET "C_P[3]" IOSTANDARD = LVDS_25;
NET "C_P[3]" DIFF_TERM = "TRUE";
NET "C_N[3]" LOC = E17;
NET "C_N[3]" IOSTANDARD = LVDS_25;
NET "C_N[3]" DIFF_TERM = "TRUE";
#NET "C_P<4>" LOC = "F20" | IOSTANDARD = LVDS_25   | diff_term=true  ;
#NET "C_N<4>" LOC = "F19" | IOSTANDARD = LVDS_25   | diff_term=true  ;
NET "C_P[4]" LOC = F19;
NET "C_P[4]" IOSTANDARD = LVDS_25;
NET "C_P[4]" DIFF_TERM = "TRUE";
NET "C_N[4]" LOC = F20;
NET "C_N[4]" IOSTANDARD = LVDS_25;
NET "C_N[4]" DIFF_TERM = "TRUE";
NET "C_P[5]" LOC = C22;
NET "C_P[5]" IOSTANDARD = LVDS_25;
NET "C_P[5]" DIFF_TERM = "TRUE";
NET "C_N[5]" LOC = B22;
NET "C_N[5]" IOSTANDARD = LVDS_25;
NET "C_N[5]" DIFF_TERM = "TRUE";
NET "C_P[6]" LOC = E21;
NET "C_P[6]" IOSTANDARD = LVDS_25;
NET "C_P[6]" DIFF_TERM = "TRUE";
NET "C_N[6]" LOC = D21;
NET "C_N[6]" IOSTANDARD = LVDS_25;
NET "C_N[6]" DIFF_TERM = "TRUE";
NET "C_P[7]" LOC = B21;
NET "C_P[7]" IOSTANDARD = LVDS_25;
NET "C_P[7]" DIFF_TERM = "TRUE";
NET "C_N[7]" LOC = A21;
NET "C_N[7]" IOSTANDARD = LVDS_25;
NET "C_N[7]" DIFF_TERM = "TRUE";
NET "C_P[8]" LOC = E22;
NET "C_P[8]" IOSTANDARD = LVDS_25;
NET "C_P[8]" DIFF_TERM = "TRUE";
NET "C_N[8]" LOC = D22;
NET "C_N[8]" IOSTANDARD = LVDS_25;
NET "C_N[8]" DIFF_TERM = "TRUE";
NET "C_P[9]" LOC = B20;
NET "C_P[9]" IOSTANDARD = LVDS_25;
NET "C_P[9]" DIFF_TERM = "TRUE";
NET "C_N[9]" LOC = A20;
NET "C_N[9]" IOSTANDARD = LVDS_25;
NET "C_N[9]" DIFF_TERM = "TRUE";
NET "C_P[10]" LOC = D20;
NET "C_P[10]" IOSTANDARD = LVDS_25;
NET "C_P[10]" DIFF_TERM = "TRUE";
NET "C_N[10]" LOC = C20;
NET "C_N[10]" IOSTANDARD = LVDS_25;
NET "C_N[10]" DIFF_TERM = "TRUE";
NET "C_P[11]" LOC = C18;
NET "C_P[11]" IOSTANDARD = LVDS_25;
NET "C_P[11]" DIFF_TERM = "TRUE";
NET "C_N[11]" LOC = C19;
NET "C_N[11]" IOSTANDARD = LVDS_25;
NET "C_N[11]" DIFF_TERM = "TRUE";

NET "D_CLK_P" LOC = L3;
NET "D_CLK_P" IOSTANDARD = LVDS_25;
NET "D_CLK_P" DIFF_TERM = "TRUE";
NET "D_CLK_N" LOC = K3;
NET "D_CLK_N" IOSTANDARD = LVDS_25;
NET "D_CLK_N" DIFF_TERM = "TRUE";
NET "D_P[0]" LOC = K2;
NET "D_P[0]" IOSTANDARD = LVDS_25;
NET "D_P[0]" DIFF_TERM = "TRUE";
NET "D_N[0]" LOC = J2;
NET "D_N[0]" IOSTANDARD = LVDS_25;
NET "D_N[0]" DIFF_TERM = "TRUE";
NET "D_P[1]" LOC = P6;
NET "D_P[1]" IOSTANDARD = LVDS_25;
NET "D_P[1]" DIFF_TERM = "TRUE";
NET "D_N[1]" LOC = N5;
NET "D_N[1]" IOSTANDARD = LVDS_25;
NET "D_N[1]" DIFF_TERM = "TRUE";
NET "D_P[2]" LOC = K1;
NET "D_P[2]" IOSTANDARD = LVDS_25;
NET "D_P[2]" DIFF_TERM = "TRUE";
NET "D_N[2]" LOC = J1;
NET "D_N[2]" IOSTANDARD = LVDS_25;
NET "D_N[2]" DIFF_TERM = "TRUE";
NET "D_P[3]" LOC = N4;
NET "D_P[3]" IOSTANDARD = LVDS_25;
NET "D_P[3]" DIFF_TERM = "TRUE";
NET "D_N[3]" LOC = N3;
NET "D_N[3]" IOSTANDARD = LVDS_25;
NET "D_N[3]" DIFF_TERM = "TRUE";
NET "D_P[4]" LOC = L5;
NET "D_P[4]" IOSTANDARD = LVDS_25;
NET "D_P[4]" DIFF_TERM = "TRUE";
NET "D_N[4]" LOC = L4;
NET "D_N[4]" IOSTANDARD = LVDS_25;
NET "D_N[4]" DIFF_TERM = "TRUE";
NET "D_P[5]" LOC = K6;
NET "D_P[5]" IOSTANDARD = LVDS_25;
NET "D_P[5]" DIFF_TERM = "TRUE";
NET "D_N[5]" LOC = J6;
NET "D_N[5]" IOSTANDARD = LVDS_25;
NET "D_N[5]" DIFF_TERM = "TRUE";
NET "D_P[6]" LOC = M1;
NET "D_P[6]" IOSTANDARD = LVDS_25;
NET "D_P[6]" DIFF_TERM = "TRUE";
NET "D_N[6]" LOC = L1;
NET "D_N[6]" IOSTANDARD = LVDS_25;
NET "D_N[6]" DIFF_TERM = "TRUE";
NET "D_P[7]" LOC = M6;
NET "D_P[7]" IOSTANDARD = LVDS_25;
NET "D_P[7]" DIFF_TERM = "TRUE";
NET "D_N[7]" LOC = M5;
NET "D_N[7]" IOSTANDARD = LVDS_25;
NET "D_N[7]" DIFF_TERM = "TRUE";
NET "D_P[8]" LOC = M3;
NET "D_P[8]" IOSTANDARD = LVDS_25;
NET "D_P[8]" DIFF_TERM = "TRUE";
NET "D_N[8]" LOC = M2;
NET "D_N[8]" IOSTANDARD = LVDS_25;
NET "D_N[8]" DIFF_TERM = "TRUE";
NET "D_P[9]" LOC = P5;
NET "D_P[9]" IOSTANDARD = LVDS_25;
NET "D_P[9]" DIFF_TERM = "TRUE";
NET "D_N[9]" LOC = P4;
NET "D_N[9]" IOSTANDARD = LVDS_25;
NET "D_N[9]" DIFF_TERM = "TRUE";
NET "D_P[10]" LOC = P2;
NET "D_P[10]" IOSTANDARD = LVDS_25;
NET "D_P[10]" DIFF_TERM = "TRUE";
NET "D_N[10]" LOC = N2;
NET "D_N[10]" IOSTANDARD = LVDS_25;
NET "D_N[10]" DIFF_TERM = "TRUE";
NET "D_P[11]" LOC = R1;
NET "D_P[11]" IOSTANDARD = LVDS_25;
NET "D_P[11]" DIFF_TERM = "TRUE";
NET "D_N[11]" LOC = P1;
NET "D_N[11]" IOSTANDARD = LVDS_25;
NET "D_N[11]" DIFF_TERM = "TRUE";

NET "E_CLK_P" LOC = T5;
NET "E_CLK_P" IOSTANDARD = LVDS_25;
NET "E_CLK_P" DIFF_TERM = "TRUE";
NET "E_CLK_N" LOC = U5;
NET "E_CLK_N" IOSTANDARD = LVDS_25;
NET "E_CLK_N" DIFF_TERM = "TRUE";
NET "E_P[0]" LOC = Y4;
NET "E_P[0]" IOSTANDARD = LVDS_25;
NET "E_P[0]" DIFF_TERM = "TRUE";
NET "E_N[0]" LOC = AA4;
NET "E_N[0]" IOSTANDARD = LVDS_25;
NET "E_N[0]" DIFF_TERM = "TRUE";
NET "E_P[1]" LOC = AA5;
NET "E_P[1]" IOSTANDARD = LVDS_25;
NET "E_P[1]" DIFF_TERM = "TRUE";
NET "E_N[1]" LOC = AB5;
NET "E_N[1]" IOSTANDARD = LVDS_25;
NET "E_N[1]" DIFF_TERM = "TRUE";
NET "E_P[2]" LOC = V4;
NET "E_P[2]" IOSTANDARD = LVDS_25;
NET "E_P[2]" DIFF_TERM = "TRUE";
NET "E_N[2]" LOC = W4;
NET "E_N[2]" IOSTANDARD = LVDS_25;
NET "E_N[2]" DIFF_TERM = "TRUE";
NET "E_P[3]" LOC = U6;
NET "E_P[3]" IOSTANDARD = LVDS_25;
NET "E_P[3]" DIFF_TERM = "TRUE";
NET "E_N[3]" LOC = V5;
NET "E_N[3]" IOSTANDARD = LVDS_25;
NET "E_N[3]" DIFF_TERM = "TRUE";
NET "E_P[4]" LOC = W6;
NET "E_P[4]" IOSTANDARD = LVDS_25;
NET "E_P[4]" DIFF_TERM = "TRUE";
NET "E_N[4]" LOC = W5;
NET "E_N[4]" IOSTANDARD = LVDS_25;
NET "E_N[4]" DIFF_TERM = "TRUE";
NET "E_P[5]" LOC = Y6;
NET "E_P[5]" IOSTANDARD = LVDS_25;
NET "E_P[5]" DIFF_TERM = "TRUE";
NET "E_N[5]" LOC = AA6;
NET "E_N[5]" IOSTANDARD = LVDS_25;
NET "E_N[5]" DIFF_TERM = "TRUE";
NET "E_P[6]" LOC = AB7;
NET "E_P[6]" IOSTANDARD = LVDS_25;
NET "E_P[6]" DIFF_TERM = "TRUE";
NET "E_N[6]" LOC = AB6;
NET "E_N[6]" IOSTANDARD = LVDS_25;
NET "E_N[6]" DIFF_TERM = "TRUE";
NET "E_P[7]" LOC = Y8;
NET "E_P[7]" IOSTANDARD = LVDS_25;
NET "E_P[7]" DIFF_TERM = "TRUE";
NET "E_N[7]" LOC = Y7;
NET "E_N[7]" IOSTANDARD = LVDS_25;
NET "E_N[7]" DIFF_TERM = "TRUE";
NET "E_P[8]" LOC = V7;
NET "E_P[8]" IOSTANDARD = LVDS_25;
NET "E_P[8]" DIFF_TERM = "TRUE";
NET "E_N[8]" LOC = W7;
NET "E_N[8]" IOSTANDARD = LVDS_25;
NET "E_N[8]" DIFF_TERM = "TRUE";
NET "E_P[9]" LOC = AA8;
NET "E_P[9]" IOSTANDARD = LVDS_25;
NET "E_P[9]" DIFF_TERM = "TRUE";
NET "E_N[9]" LOC = AB8;
NET "E_N[9]" IOSTANDARD = LVDS_25;
NET "E_N[9]" DIFF_TERM = "TRUE";
NET "E_P[10]" LOC = W9;
NET "E_P[10]" IOSTANDARD = LVDS_25;
NET "E_P[10]" DIFF_TERM = "TRUE";
NET "E_N[10]" LOC = Y9;
NET "E_N[10]" IOSTANDARD = LVDS_25;
NET "E_N[10]" DIFF_TERM = "TRUE";
NET "E_P[11]" LOC = V9;
NET "E_P[11]" IOSTANDARD = LVDS_25;
NET "E_P[11]" DIFF_TERM = "TRUE";
NET "E_N[11]" LOC = V8;
NET "E_N[11]" IOSTANDARD = LVDS_25;
NET "E_N[11]" DIFF_TERM = "TRUE";

NET "F_CLK_P" LOC = U15;
NET "F_CLK_P" IOSTANDARD = LVDS_25;
NET "F_CLK_P" DIFF_TERM = "TRUE";
NET "F_CLK_N" LOC = V15;
NET "F_CLK_N" IOSTANDARD = LVDS_25;
NET "F_CLK_N" DIFF_TERM = "TRUE";
NET "F_P[0]" LOC = V13;
NET "F_P[0]" IOSTANDARD = LVDS_25;
NET "F_P[0]" DIFF_TERM = "TRUE";
NET "F_N[0]" LOC = V14;
NET "F_N[0]" IOSTANDARD = LVDS_25;
NET "F_N[0]" DIFF_TERM = "TRUE";
NET "F_P[1]" LOC = AB16;
NET "F_P[1]" IOSTANDARD = LVDS_25;
NET "F_P[1]" DIFF_TERM = "TRUE";
NET "F_N[1]" LOC = AB17;
NET "F_N[1]" IOSTANDARD = LVDS_25;
NET "F_N[1]" DIFF_TERM = "TRUE";
NET "F_P[2]" LOC = AA13;
NET "F_P[2]" IOSTANDARD = LVDS_25;
NET "F_P[2]" DIFF_TERM = "TRUE";
NET "F_N[2]" LOC = AB13;
NET "F_N[2]" IOSTANDARD = LVDS_25;
NET "F_N[2]" DIFF_TERM = "TRUE";
NET "F_P[3]" LOC = Y16;
NET "F_P[3]" IOSTANDARD = LVDS_25;
NET "F_P[3]" DIFF_TERM = "TRUE";
NET "F_N[3]" LOC = AA16;
NET "F_N[3]" IOSTANDARD = LVDS_25;
NET "F_N[3]" DIFF_TERM = "TRUE";
NET "F_P[4]" LOC = W11;
NET "F_P[4]" IOSTANDARD = LVDS_25;
NET "F_P[4]" DIFF_TERM = "TRUE";
NET "F_N[4]" LOC = W12;
NET "F_N[4]" IOSTANDARD = LVDS_25;
NET "F_N[4]" DIFF_TERM = "TRUE";
NET "F_P[5]" LOC = W15;
NET "F_P[5]" IOSTANDARD = LVDS_25;
NET "F_P[5]" DIFF_TERM = "TRUE";
NET "F_N[5]" LOC = W16;
NET "F_N[5]" IOSTANDARD = LVDS_25;
NET "F_N[5]" DIFF_TERM = "TRUE";
NET "F_P[6]" LOC = AB11;
NET "F_P[6]" IOSTANDARD = LVDS_25;
NET "F_P[6]" DIFF_TERM = "TRUE";
NET "F_N[6]" LOC = AB12;
NET "F_N[6]" IOSTANDARD = LVDS_25;
NET "F_N[6]" DIFF_TERM = "TRUE";
NET "F_P[7]" LOC = AA15;
NET "F_P[7]" IOSTANDARD = LVDS_25;
NET "F_P[7]" DIFF_TERM = "TRUE";
NET "F_N[7]" LOC = AB15;
NET "F_N[7]" IOSTANDARD = LVDS_25;
NET "F_N[7]" DIFF_TERM = "TRUE";
NET "F_P[8]" LOC = AA10;
NET "F_P[8]" IOSTANDARD = LVDS_25;
NET "F_P[8]" DIFF_TERM = "TRUE";
NET "F_N[8]" LOC = AA11;
NET "F_N[8]" IOSTANDARD = LVDS_25;
NET "F_N[8]" DIFF_TERM = "TRUE";
NET "F_P[9]" LOC = W14;
NET "F_P[9]" IOSTANDARD = LVDS_25;
NET "F_P[9]" DIFF_TERM = "TRUE";
NET "F_N[9]" LOC = Y14;
NET "F_N[9]" IOSTANDARD = LVDS_25;
NET "F_N[9]" DIFF_TERM = "TRUE";
NET "F_P[10]" LOC = Y11;
NET "F_P[10]" IOSTANDARD = LVDS_25;
NET "F_P[10]" DIFF_TERM = "TRUE";
NET "F_N[10]" LOC = Y12;
NET "F_N[10]" IOSTANDARD = LVDS_25;
NET "F_N[10]" DIFF_TERM = "TRUE";
NET "F_P[11]" LOC = Y13;
NET "F_P[11]" IOSTANDARD = LVDS_25;
NET "F_P[11]" DIFF_TERM = "TRUE";
NET "F_N[11]" LOC = AA14;
NET "F_N[11]" IOSTANDARD = LVDS_25;
NET "F_N[11]" DIFF_TERM = "TRUE";

NET "GA_SYSCLK_P" LOC = B17;
NET "GA_SYSCLK_P" IOSTANDARD = LVDS_25;
NET "GA_SYSCLK_P" DIFF_TERM = "TRUE";
NET "GA_SYSCLK_N" LOC = B18;
NET "GA_SYSCLK_N" IOSTANDARD = LVDS_25;
NET "GA_SYSCLK_N" DIFF_TERM = "TRUE";
NET "u_clock_generator/sysclk_mult" TNM_NET = "TN_SYSCLK";
TIMESPEC TS_SYSCLK = PERIOD "TN_SYSCLK" 162.5 MHz HIGH 50 %;

NET "DAC_LATCH[0]" LOC = T15;
NET "DAC_LATCH[0]" IOSTANDARD = LVCMOS25;
NET "DAC_LATCH[1]" LOC = AB1;
NET "DAC_LATCH[1]" IOSTANDARD = LVCMOS25;
NET "DAC_DIN[0]" LOC = U16;
NET "DAC_DIN[0]" IOSTANDARD = LVCMOS25;
NET "DAC_DIN[1]" LOC = Y3;
NET "DAC_DIN[1]" IOSTANDARD = LVCMOS25;
NET "DAC_CLK[0]" LOC = T16;
NET "DAC_CLK[0]" IOSTANDARD = LVCMOS25;
NET "DAC_CLK[1]" LOC = AB2;
NET "DAC_CLK[1]" IOSTANDARD = LVCMOS25;
NET "VCDL[0]" LOC = Y17;
NET "VCDL[0]" IOSTANDARD = LVCMOS25;
NET "VCDL[1]" LOC = AB3;
NET "VCDL[1]" IOSTANDARD = LVCMOS25;
NET "TRAIN[0]" LOC = W17;
NET "TRAIN[0]" IOSTANDARD = LVCMOS25;
NET "TRAIN[1]" LOC = AA3;
NET "TRAIN[1]" IOSTANDARD = LVCMOS25;
NET "GA_SDA" LOC = W19;
NET "GA_SDA" IOSTANDARD = LVCMOS25;
NET "GA_SDA" PULLUP;
NET "GA_SCL" LOC = W20;
NET "GA_SCL" IOSTANDARD = LVCMOS25;
NET "GA_SCL" PULLUP;
